{% extends "padre.html" %}

{% block contenido %}

    <h2>Actualizar Avatar</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="{% url 'actualizar_avatar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
