{% extends 'padre.html' %}
{% load static %}

{% block contenido %}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/profesores1.jpg' %}" class="card-img-top" style="width: 100%; height: auto; max-height: 200px;" />
                    <div class="card-body">
                        <h5 class="card-title">Carla Acosta</h5>
                        <p class="card-text">Data Science</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/profesores2.jpg' %}" class="card-img-top" style="width: 100%; height: auto; max-height: 200px;" />
                    <div class="card-body">
                        <h5 class="card-title">Alexis Blanco</h5>
                        <p class="card-text">Javascript</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/profesores3.jpg' %}" class="card-img-top" style="width: 100%; height: auto; max-height: 200px;" />
                    <div class="card-body">
                        <h5 class="card-title">Juana Molina</h5>
                        <p class="card-text">UI/UX </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}







