

{%  extends 'padre.html'   %}

{% load static %}

{% block contenido %}
    <main class = container>
        <a href="alta_curso" class = "btn btn-primary btn-sm"  >Nuevo curso    </a>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>camada</th>
                </tr>            
            </thead>
            <tbody>
                {% for n in cursos %}
                <tr>
                    <td>{{n.id}}</td>
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
                    <td><a href = "{% url 'elimina_curso' n.id %}" class = "btn btn-danger" >Borrar</a></td>
                    <td><a href = "{% url 'editar_curso' n.id %}" class = "btn btn-warning btn-small" >editar</a></td>
                </tr>

                {% endfor %}
                
            </tbody>


        </table>
    </main>
{% endblock %}
    
