{% extends "padre.html" %}
{% load static %}

{% block contenido %}
    <h2>{{ mensaje }}</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <img src="" class="card-img-top" alt="Avatar Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ usuario }}</h5>
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning">Editar correo</a>
                        <form method="post" action="{% url 'Logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Salir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
