{% extends 'padre.html' %}
{% load static %}


{% block contenido %}



<main>
    <div class="container">
        <div class="row">
            <div class="col-12  col-md-6">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/profesores2.jpg' %}" />
                    <div class="card body">
                        <h5 class="card-title">Ivan Fernandez</h5>
                        <p class="card-text">Cursos que dicta</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>

                    </div>
                </div>

            </div>
            <div class="col-12  col-md-6">
                <div class="row">
                    <div class="card">
                        <img src="{% static 'AppCoder/assets/img/profesores1.jpg' %}" />
                        <div class="card body">
                            <h5 class="card-title">Ornella Sanchez</h5>
                            <p class="card-text">Cursos que dicta</p>
                            <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12  col-md-6">
            <div class="row">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/profesores3.jpg' %}" />
                    <div class="card body">
                        <h5 class="card-title">Juan Ignacio Vazquez</h5>
                        <p class="card-text">Cursos que dicta</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>

                    </div>
 
            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>









{% endblock %}